params { 
    // required 
    hifi_reads = '/data2/work/Gadids/Bsai2_utq/Bsai2_utq_RevioHifi_Data'
    hic1 = '/data2/work/Gadids/Bsai2_utq/Bsai2_utq_HiC_data/Bsai2_utq_R1.combined.fastq.gz'
    hic2 = '/data2/work/Gadids/Bsai2_utq/Bsai2_utq_HiC_data/Bsai2_utq_R2.combined.fastq.gz'
    specimen_id = 'Bsai2_utq'
	taxid = 44932

    nthreads = 18
    est_ref_size = 600000000 // for quast, i might remove this in the future

	hifiasm_mode = 'normal' // hic for hi-c integrated hifiasm
	purge_dups = 'on' // default is off





    
    // Tool paths
    yahs = '/data2/work/local/yahs' // Path to YaHS installation
    samblaster = '/data2/work/local/samblaster/samblaster' // Path to samblaster
    juicer_tools = '/data2/work/local/juicer_tools/juicer_tools.2.20.00.jar' // Path to juicer tools
    
    // Conda environments
	nextflow_env = '/data2/work/local/miniconda/envs/nextflow'
    bwa_mem_env = '/data2/work/local/miniconda/envs/salsa' // Conda environment for bwa-mem2
    busco_conda = '/data2/work/local/miniconda/envs/busco583' // Conda environment for busco
    quast_conda = '/data2/work/local/miniconda/envs/quast' // Conda environment for quast
    
    // BUSCO parameters
    busco_lineage = 'actinopterygii_odb12' // BUSCO lineage database
    busco_db_path = '/data2/busco_June2024/busco_downloads' // Path to BUSCO database
    
    // Output directory
    outdir = './results'
}
