params {
    hifi_reads = '' // Path to hifi reads directory, required
    hic1 = '' // Path to hic read pair 1, required
    hic2 = '' // Path to hic read pair 2, required
    
    species_id = '' // species id for eg. "dmaw12" for D. mawsoni, required
    nthreads = 18
    est_ref_size = 800000000
    
    // Tool paths
    yahs = '/data2/work/local/yahs' // Path to YaHS installation
    samblaster = '/data2/work/local/samblaster/samblaster' // Path to samblaster
    juicer_tools = '/data2/work/local/juicer_tools/juicer_tools.2.20.00.jar' // Path to juicer tools
    
    // Conda environments
    bwa_mem_env = 'bwa-mem2' // Conda environment for bwa-mem2
    quast_conda = 'quast' // Conda environment for QUAST
    busco_conda = 'busco' // Conda environment for BUSCO
    
    // BUSCO parameters
    busco_lineage = 'vertebrata_odb10' // BUSCO lineage database
    busco_db_path = '/data2/work/local/busco_downloads' // Path to BUSCO database
    
    // Output directory
    outdir = './results'
}
